* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "OpenSans", sans-serif;
}
ul {
  list-style: none;
  /* display: inline-block; */
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1038px;
  margin: 0 auto;
  padding: 0 16px;
}

.wrapper {
  padding: 43px 43px;
  position: relative;
}
.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
}
.header__sedna-logo {
  display: block;
  object-fit: contain;
}
.header__nav {
  font-size: 13px;
  color: #ffffff;
  display: inline-block;
  line-height: 40px;
}
.header__nav_left {
  margin-left: 70px;
}
.header__nav_right {
  float: right;
}
.header__nav > li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.header__nav > li > a {
  position: relative;
}
.header__nav > li:nth-last-child(1) {
  margin-right: 0px;
}
.nav-link {
  margin-right: 19px;
}
.nav-link:nth-last-child(1) {
  margin-right: 0px;
}
.signup-btn {
  border: 2px solid #ffffff;
  border-radius: 40px;
  padding: 10px 30px;
}
hr {
  border-bottom: solid 1px #ffffff;
  opacity: 0.2;
}
.hero {
  position: relative;
  background-image: linear-gradient(
      rgba(38, 43, 57, 0.9),
      rgba(38, 43, 57, 0.9)
    ),
    url("hero-background.png");
  min-height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title-lg {
  font-size: 60px;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 15px;
}
.hero__txt {
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}
.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  border-radius: 40px;
  margin-right: 21px;
  text-transform: uppercase;
}
.btn:nth-last-child(1) {
  margin-right: 0px;
}
.hero__btn_left {
  color: white;
  background-color: #ff5274;
  padding: 18px 31px;
}
.border-only-btn {
  color: #ff5274;
  border: 2px solid #ff5274;
  padding: 18px 60px;
}
.down-arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  cursor: pointer;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.benefit {
  padding: 120px 0;
}

.benefit li {
  width: calc((100% - 30px) / 3);
  display: inline-block;
  margin-right: 10px;
}
.benefit li:nth-last-child(1) {
  margin-right: 0px;
}
.icons {
  /* float: left; */
  display: inline-block;
  vertical-align: top;
  object-fit: contain;
}

.content {
  /* float: right; */
  /* width: 234px; */
  width: calc(100% - 60px);
  vertical-align: top;
  /* padding: 24px; */
  display: inline-block;
  margin-left: 15px;
}
.heading-sm {
  font-size: 15px;
  font-weight: 600;
  color: #3d4351;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.text-sm {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.67;
  color: rgba(28, 54, 83, 0.7);
}

.why-sedna {
  position: relative;
  border: solid 1px #e6e9ea;
  background-color: #f7f8fa;
  padding-top: 110px;
  max-height: 759px;
  height: 100vh;
  overflow: hidden;
}
.gadgets {
  width: 50%;
  float: left;
  position: relative;
}
.i-pad {
  width: 75%;
  height: 1002px;
}
.i-phone {
  position: absolute;
  width: 43%;
  height: 617px;
  bottom: 15%;
  right: 9%;
}
.iphone-screen {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.iphone-screen__text {
  white-space: nowrap;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.7px;
  color: #acb1b4;
  margin-bottom: 14px;
}
.fa-thin {
  color: white;
  padding: 12px;
  border-radius: 40px;
  margin-right: 12px;
  margin-bottom: 13px;
  background-color: #454d5e;
}
.fa-thin:nth-child(3n) {
  margin-right: 0px;
}
.why-sedna .container {
  height: 100%;
}
.why-sedna article {
  float: right;
}

.heading-lg {
  font-size: 24px;
  font-weight: normal;
  color: #3d4351;
  margin-bottom: 19px;
}

.why-sedna__text {
  margin-bottom: 58px;
}
.why-sedna__hr {
  border-bottom: solid 1px #e6e9ea;
  margin: 20px 0;
}

.design {
  padding: 115px 0;
  position: relative;
  max-height: 789px;
  height: 100vh;
}

.design .container {
  display: flow-root;
  height: 100%;
}

.left-container {
  float: left;
  width: 50%;
}

.left-container__text {
  margin-bottom: 30px;
}
.right-container {
  position: absolute;
  right: 0;
  top: 14%;
  width: 50%;
  height: 531px;
}

.customise__head{
  max-height: 500px;
  height: 100vh;
background-color: #454d5e;
text-align: center;
padding-top: 95px;
}
.customise__head article{
  /* position: relative;
  top: 95px; */
}

.title-sm{
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 20px;
}
.customise__head-text{
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #acb1b4;
  margin-bottom: 45px;
}
.customise__head_btn{
  margin-bottom: 54px;
  padding: 18px 30px
}
.diamond-pic{
  object-fit: contain;
}

